.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/*Header*/

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    background-image: url('../assets/bg01.png');
}

/*Title*/

.title {
    padding: 4em 0 4em 0;
    width: 100%;
}

.title a{
    font-size: 35px;
    letter-spacing: -0.025em;
    cursor: pointer;
    color: #333333;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.2s
}

.title a em{
    font-weight: 300;
}

.title a:hover {
    color: #37c0fb;
}

/*Navbar*/

.navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 7rem;
}

.nav{
    background: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav a em{
    font-weight: 300;
}

.nav ul li a{
    display: flex;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 22px;
    text-decoration: none;
    color: #c0c0c0;
    padding: 1.5em 1.2em 1.35em 1.2em;
    transition: color 0.2s
}

.nav ul li a:hover{
    color: #fff;
}

.nav ul li .home {
    color: #fff;
    font-weight: 600;
}

.bottom {
    background: #37c0fb;
    width: 100%;
    height: 1.2rem;
    z-index: 2;
}

/*Banner*/

.Banner {
    width: 100%;
    height: 37.3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('../assets/banner.jpg');
    background-position: center;
    background-size: cover;
    z-index: 1 ;
}

.imgcontainer {
    width: 100%;
    height: 100%;
}

.imgoverlay {
    width: 100%;
    height: 9.5em;
    background: rgba(36, 36, 36, 0.692);
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.textandbutton {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;

}

.textandbutton a {
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 26px;
    letter-spacing: -0.025em;
    color: #fff;
}

.textandbutton a em {
    color: #c0c0c0;
    font-weight: 300;
}

.html5up {
    text-decoration-line: underline;
    text-decoration-style: dotted;
    transition: color 0.5s
}

.html5up:hover {
    color: #37c0fb;
    cursor: pointer;
    text-decoration: none;
}

.learnmore {
    margin-left: 1em;
    padding: 1.3em 3.2em 1.3em 3.2em;
    background-color: #37c0fb;
    border-radius: 5px;
    cursor: pointer;
    transition: color 0.5s
}

.learnmore a {
    font-size: 20px;
}

.learnmore:hover{
    background-color: #51c9fc;
}
/*Media Querys*/

@media only screen and (max-width: 1680px) {
.title {
    padding: 3.5em 0 3.5em 0;
}
.title a{
    font-size: 28px;
}
.navbar {
    height: 6rem;
}
.nav ul li a{
    font-size: 20px;
}

.Banner{
    height: 28em;
}
.imgoverlay{
    height: 9em;
}
.textandbutton a {
    font-size: 23px;
}
.learnmore{
    padding: 1em 2.5em 1em 2.5em;
}
.learnmore a{
    font-size: 22px;
}

@media only screen and (max-width: 1280px) {
.title {
    padding: 2.5em 0 2.5em 0;
}
.title a{
    font-size: 25px;

}
.navbar {
    height: 5.8rem;
}
.nav ul li a{
    font-size: 18px;
}
.bottom{
    height: 1rem;
}
.Banner{
    height: 21.5em;
}
}

@media only screen and (max-width: 980px) {
.title {
    padding: 2.2em 0 2.2em 0;
}
.title a{
    font-size: 23px;
}
.navbar {
    height: 5.4rem;
}
.nav ul li a{
    font-size: 16px;
}
.bottom{
height: 0.8rem;
}
.Banner{
    height: 19.5em;
}
.imgoverlay{
    height: 8em;
}
.textandbutton a {
    font-size: 20px;
}
.learnmore{
    padding: 0.8em 2em 0.8em 2em;
}
.learnmore a{
    font-size: 16px;
}
}

@media only screen and (max-width: 840px) {
.nav{
    display: none;
}
.header {
    background: #333;
    height: 3rem;
}
.title{
    padding: 0.9em 0 0.9em 0;
}
.title a{
font-size: 16px;
    color: #fff;
}
.bottom{
    height: 0.3rem;
}
.Banner{
    height: 21em;
}
.imgoverlay{
    height: 18em;
}
.textandbutton {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.learnmore{
    margin-top: 1.5em;
}
.textandbutton a {
    font-size: 22px;
}
.learnmore{
    padding: 1em 2.5em 1em 2.5em;
}
.learnmore a{
    font-size: 16px;
}
}

@media only screen and (max-width: 737px) {
.header {
    background: #333;
    height: 3rem;
}
.title{
    padding: 1em 0 1em 0;
}
.title a{
font-size: 16px;
    color: #fff;
}
.bottom{
    height: 0.3rem;
}
.Banner{
    height: 16em;
}
.imgoverlay{
    height: 15em;
}
.learnmore{
    margin-top: 1em;
}
.textandbutton a {
    font-size: 18px;
}
.learnmore{
    padding: 0.7em 2em 0.7em 2em;
}
.learnmore a{
    font-size: 14px;
}
}

@media only screen and (max-width: 480px) {
.nav a {
    font-size: 16px;
}
.header {
    height: 3.2rem;
}
.bottom{
    height: 0.3rem;
}
.Banner{
    height: 18em;
}
.imgoverlay{
    height: 13em;
}
.learnmore{
    margin-top: 1em;
    position: fixed;
    right: 15px;
    left: 0;
}
.textandbutton a {
    margin-bottom: 3rem;
    font-size: 18px;
}
.learnmore{
    padding: 0.7em 2em 0.7em 2em;
}
.learnmore a{
    font-size: 14px;
}
}
}